

<!-- //////////////////////////// init Setup ////////////////////////////////////////////////// -->
<!-- New App -->
ng new my-app

Bootstrap-Links{
    css {
        "node_modules/bootstrap/dist/css/bootstrap.min.css"
    }
    js {
        "node_modules/bootstrap/dist/js/bootstrap.js"
    }
}


<!-- For Strict Angular rule -->
<!-- tsconfig.json -->
{
    "strict": false,
}
"angularCompilerOptions": {
    "strictPropertyInitialization": false
}


<!-- /////////////////////////////////////////////////////////////////////////////////////////////// Code Helper ////////////////////////////////////////////////////////////////////// -->

Component & Data Binding {
    Interpolation {
        C.TS{
            Name: string = "Zotac";
        }
        .html{
            {{Name}} // Zotac
        }
    }
    
    Property Binding {
        C.TS{
            isDisable: boolean = false;
        }
        .html{
            <button [disable] ="isDisable">Show <button>
        }
    }
    
    Event Binding {
        C.TS{
            show(){
                alert("Hello");
            }
        }
        .html{
            <button (click)="show()">Show <button>
        }
    }
    
    Two Way Binding {
        C.Module.TS {
            imports : [FormModule]
        }
        C.TS{
            Name: string = "Zotac";
        }
        .html{
            <input [(ngModel)]="Name">
            <p>Name</p>
        }
    }

    Parent To Child Binding {

        Parent {
            .model.ts {
                export class Person {
                    public name: string;
                constructor(name: string) {
                        this.name=name;
                    }
                }
            }
            C.TS{
                persons: Person[] = [ new Person('A Test Recipe') ]
            }
            .html{
                <ng-container *ngFor="let person of persons"> <child [person]="person"></child> </ng-container>
            }
        }

        Child {
            C.TS{
                import {Person} from './Model/Person'

                @Input() person: Peron = {} as Person
            }
            .html{
                {{person.name}} // Zotac
            }
        }

    }

    @ViewChild {
        //Use of view child for local element and component
        Parent.C.html {
            <div>
                <label> Date of Birth</label>
                //add input #ref and meth whenever it become BLUR ((blur) is a event type like (click))
                <input type="date" #dobInput (blur)="findAge()">

                <label>Age: </label>
                <input type="text" #ageInput>
            </div>
            //Call Child Component via ViewChild
            <app-child></app-child> //the child Component
            {{child.show()}}
        }
        Parent.C.ts {
            @ViewChild('dobInput') dob: ElementRef
            @ViewChild('ageInput') age: ElementRef
            @ViewChild('app-child', {static:true}) child: app-child    //app-child is COMPONENT SELECTOR and Also import the component
            //@ViewChild('form') myform: NgForm | any; //This is not part of this Example! Use any when TS not happy. 
            //myform.setValue({add all properties}) can use it to add and replace data.
            //myform.setPatch({add only properties want update}) can use it to update with less properties but code did not work.

            findAge(){
                let BrthYear = new Date(this.dob.nativeElement.value).getFullYear()
                let CurrentYear = new Date().getFullYear()
                let agenow = CurrentYear - BrthYear'
                this.age.nativeElement.value = agenow
            }
        }
        child.C.ts{
            show(){
                console.log("Hello From Child")
            }
        }
        child.html{
            <p>hi</p>
        }
    }// Output is Age and "hi" from Child Component and " from child" in console
}

Child To Parent Binding {

    Parent {
        .model.ts {
            export class Person {
                public name: string;
            constructor(name: string) {
                    this.name=name;
                }
            }
        }
        C.TS{
            persons: Person[] = [ new Person('A Test Recipe') ]
            removeperson(person: Person){
                persons.splice(person,1)
            }
        }
        .html{
            <ng-container *ngFor="let person of persons"> <child (removepersoninfo)="removeperson($event)" [person]="person"></child> </ng-container>
        }
    }

    Child {
        C.TS{
            import {Peron} from './Model/Person'

            @Input() person: Peron = {} as Person
            @Output() removepersoninfo = new EventEmitter<Person>()

            remove(){
                this.removepersoninfo.emit(this.person)
            }
        }
        .html{
            {{person.name}} // Zotac
            <button (click)="remove()">Remove Name</button>
        }
    }
    
}
}

Directives {

    //For If Conditions
    ngIf {
        C.TS{
            isDisable: boolean = false;
        }
        .html{
            <ng-container *ngIf="!isDisable">show</ng-container>
        }
    }

    ngFor {

        .model.ts {
            export class Person {
                public name: string;
            constructor(name: string) {
                    this.name=name;
                }
            }
        }
        C.TS{
            persons: Person[] = [ new Person('A Test Recipe') ]
        }
        .html{
            <ng-container *ngFor="let person of persons; let i = index/index as i">{{person.name}}</ng-container>
        }
    }

    ngSwitch {

        C.TS{
            color = "red";
        }
        .html{
            <ng-container [ngSwitch]="color">
                <div *ngSwitchCase="'red'">This is Red</div>
                <div *ngSwitchCase="'blue'">This is Blue</div>
                <div *ngSwitchCase="'green'">This is Green</div>
                <div *ngSwitchDefault>Pick Again</div>
            </ng-container>
        }
    }

    ngStyle {
        C.TS{
            perosn: string = 'online'
            getColor(){ return this.person ==='online' ? 'green' : 'red' }
        }
        .html{
            <p [ngStyle]="{backgroudColor: getColor()}" >Hello World</p>
        }
    }

    ngClass {
        C.TS{
            style: [`
                .online {
                    color: white;
                } 
            `]
            perosn: string = 'online'
        }
        .html{
            <p [ngClass]="{online:perosn==='online'}" >Hello World</p>
        }
    }

}

Pipes {
    C.TS{
        Price: string = 399;
    }
    .html{
        {{Price | currency:'INR'}} // (INR symbal)399
    }
}

Lifecycle event sequence {
    
    ngOnChanges(){
        Called before ngOnInit() (if the component has bound inputs) and whenever one or more data-bound input properties change.
    }

    ngOnInit(){
        Called once, after the first ngOnChanges(). ngOnInit() is still called even when ngOnChanges() is not (which is the case when there are no template-bound inputs).
    }

    ngDoCheck(){
        Called immediately after ngOnChanges() on every change detection run, and immediately after ngOnInit() on the first run.
    }

    ngAfterContentInit(){
        Called once after the first ngDoCheck().
    }
    ...
    ngOnDestroy(){
        Called immediately before Angular destroys the directive or component.
    }

}

Services & Dependency injection {

    CLI: ng generate service main/DataService 

    DataService.service.ts {
        getperson(){
            return [
                {'Zotac'},
                {'Haris'},
                {'Ahmad'},
                {'Yasir'}
            ]
        }
    }

    .model.ts {
        export class Person {
            public name: string;
        constructor(name: string) {
                this.name=name;
            }
        }
    }
    C.TS{
        persons: Person[] = []

        constructor(private dataservice: DataService){}

        ngOnInit(): void{
            this.person = this.dataservice.getperson()
        }
    }
    .html{
        <ng-container *ngFor="let person of persons">{{person.name}}</ng-container>
    }

}

Routing {
    
    style="cursor: pointer"

    Routes{
        app-routing.module.ts {
            const routes: Routes = [
                { path: '', component: TodosComponent, children:[
                { path: 'p1', component: TodosP1Component },
                { path: 'p2', component: TodosP2Component },
                ] },
                { path: 'about', component: TodosAboutComponent },
                { path: 'pricing', component: TodosPricingComponent },
                { path: 'not-found', component: notFoundComponent },
                { path: '**', component: redirectTo: '/not-found' },
            ]
        }
        //   { path: '', redirectTo: '/some-page', pathMatch: 'full' } //pathMatch: only redirect if full path is empty


        .html {
            <li routerLinkActive="active"> <a routerLink="/">Navbar</a> </li> //routerLinkActive: to make it active by router and ="active" is a Bootstrap class which is active when link is active
            <li routerLinkActive="active"> <a routerLink="/abourt">about</a> </li>
            <li routerLinkActive="active"> <a routerLink="/pricing">pricing</a> </li>

            //toggles between the given paths
            <router-outlet></router-outlet>
        }

    }

    Route Navigate {

        app-routing.module.ts {
            const routes: Routes = [
                { path: '', component: AppComponent },
                { path: 'user/about', component: UserComponent }
            ]
        }

        C.ts {
            
            constructor(private router: Router, private route: ActivateRoute, private Data: DATAService) { }

            onSubmit() {
            if(this.obj.email==""&&this.obj.password==""){
              this.obj.email = "HarisBukhari@gmail.com"
              this.obj.password="monkey" 
            }
            this.Data.login(this.obj).subscribe((res)=>{
            this.router.navigate(['']);
            //if need to add relative path
            this.router.navigate(['about'], {relativeTo: this.route}); //(user/)this.route current route
            })

        }
    }

    Route Prams {

        app-routing.module.ts {
            const routes: Routes = [
                { path: 'user/:id/:name', component: UserComponent }
            ]
        }

        C.ts {
            user: { id: number, name: string }
            constructor(private route: ActivateRoute) { }
            
            ngOnInit(){
                this.user = {
                    id: this.route.snapshot.params['id'],
                    name: this.route.snapshot.params['name']
                }

                //For Async otherwise this link on same page will not update itself unless reInit and you can Unsubcribe Obersvable by Unsubcribe() in ngOnDestroy
                this.route.params
                .subcribe( 
                    (params: Params) => {
                        this.user.id=params['id'];
                        this.user.name=params['name'];
                    }
                )
            }

        }
        .html {
            <a [routerLink]="['/user',10,'Zotac']">check-self</a>
            <p>{{user.id}} -- {{user.name}}</p>
        }
    }

    Route Query Params {

        app-routing.module.ts {
            const routes: Routes = [
                { path: 'user/:id/edit', component: UserComponent }
            ]
        }
        C.ts {
            user: { id: number, name: string }
            isAllowed = false
            constructor(private router: Router,private route: ActivateRoute) { }

            ngOnInit(){
                this.route.queryParams
                .subcribe( 
                    (queryParams: Params) => {
                        this.isAllowed = queryParams['any'] === '1' ? true : false
                    }
                )
            }

            onReq(id: number){
                this.router,navigate(['/user/',id,'edit'],{queryParams: {any: '1'}})

                //this.router.navigate(['about'], {relativeTo: this.route}); //(user/)this.route current route
                //this.router.navigate(['about'], {relativeTo: this.route, queryParamsHandling: 'preserve'}); //queryParamsHandling store the current link to used the query on unrelated route
            }
        }

        .html {
            <a [routerLink]="['/user',10,'Zotac']" [queryParams]="{any:'anyval'}">check-self</a>
            //Conditional Params [queryParams]="{any:user.id === 3 ? '1' : '0'}
            <button (click)="onReq(1)"></button>
            <ng-container *ngFor="let user of users"></ng-container>
        }
        Other C.ts {
            constructor(private route: ActivateRoute) { }
            ngOnInit(){
                this.route.queryParams.subscribe()
            }
        }
    }

    Custom Error Page {

        app-routing.module.ts {
            const routes: Routes = [
                { path: 'not-found', component: ErrorComponent , data: {message: 'Page not Found'}}
            ]
        }
        Error C.ts {
            ErrorMessage: string
            constructor(private route: ActivateRoute) { }

        }

        ngOnInit(){
            this.ErrorMessage = this.route.snapshot.data['message']
            this.route.data.subcribe(
                (data: Data)=>{               //Data can be imported
                    this.ErrorMessage = data['message']
                }
            )
        }

        Error C.html {
            <p> {{ErrorMessage}} </p>
        }

    }

} 

Custom Module {
    some feature are not available to inner componet so you need to create inner component module and register the feature there and than register the module to main/app.module
}

Form {

    <!-- /////////////////////// Template Driven Form //////////////////// -->

    Use # like (#form="ngForm") for control, validation ....etc
    //for form submit
    .html {
        <form (ngSubmit)="onSubmit()">
            //for validation
            <input [(ngModel)]="Name" #name = "ngModel" name="name" required >
            <p *ngIf="name.invalid && (name.dirty || name.touched)">Name Field Must Be Valid</p>
        </form>
    }
    C.ts {
        constructor( private router: Router ) { }
        onSubmit(){ this.router.navigate(['']); }
        optionforsomefromCts='a'                                                                         <--
        genders=['male','female']                                                                         <--
    }

    ^Udemy^
    //validation + style
    .html {
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <input ngModel type="text" name="name" required #name="ngModel">                              ^
            <p *ngIf="!name.valid && name.touched">Please Enter Vaild Name</p>                            |
            <input ngModel type="text" name="password" required #password="ngModel">                      |
            <p *ngIf="!password.valid && password.touched">Please Enter Vaild Password</p>
            <input ngModel type="email" name="email" email required #email="ngModel">
            <p *ngIf="!email.valid && email.touched">Please Enter Vaild Email</p>
            <button [disabled]="!form.valid">submit</button>
            <select name="some" id="some" [ngModel]="optionforsomefromCts"> // follow error  ------------->  
                <option value="a">1</option>
                <option value="b">2</option>
            </select>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input type="radio" name="gender" ngModel [value]="gender" required>
                    {{gender}}
                </label>
            </div>
        </form>

    }
    .css{
        input.ng-invalid.ng-touched {
            border: 1px solid red
        }
        input.ng-valid {
            border: 1px solid green 
        }
    }
    C.ts {
        onSubmit(form: NgForm){ 
            console.log(form.value) //values as object
            <!-- setValue() & patchValue() If needed -->
            this.myform.setValue({
                name: 'HHH',
                email: this.myform.value.email,
                password: this.myform.value.password
              })
        }
    }
    
    // to use info as group by using local ref #
    Form Group {    
        .html {
        <form ngModelGroup="anyname" #anyname="ngModelGroup" (ngSubmit)="onSubmit(form)" >
            <input>
            <input>
            <input>
            <p *ngIf="anyname.invalid && anyname.touched">Please Enter Valid Data</p>
        </form>
        }
    }

    <!-- /////////////////////         Reactive Form   ///////////////////////// -->
    //Did not need reference like Template Driven form 

    app.module.ts {
        import :[
        ReactiveFormmsModule
        ]
    }

    C.ts {

        import {FormControl,FormGroup,Validators} from '@angular/forms'

        ReactiveForm: FormGroup;
        formStatus; //Yeah youtube did not mention anything

        ngOnInit(){
            this.ReactiveFrom = new FormGroup ({
                // For Internal Group otherwise remove group make it simple
                Details: new FormGroup ({
                    firstname: new FormControl(null,Validators.required),
                    lastname: new FormControl(null,Validators.required),
                    email: new FormControl(null,[Validators.required,Validators.email],this.emailNotAllowed),
                }),
                gender: new FormControl('male'),      //value for default

                <!-- // FormArray To Add runtime inputfield formcontrol is just like field -->
                skills: new FormArray ([
                    new FormControl(null,Validators.required)
                ])
            })
        }
        onSubmit(){
            console.log(this.ReactiveFrom) //Full Object. find value Property
        } 

        addskill(){
            (<FormArray>this.ReactiveFrom.get('skills')).push(new FormControl(null,Validators.required))
        }

        <!-- //Custom Async Validator -->
        emailNotAllowed(control: FormControl): Promise<any> | Obersvable<any>{
            const responce = new Promise ((resolve,reject)=>{
                setTimeout (()=>{
                    if(control.value === 'zotac@gmail.com'){    //match any from database than reject it
                        resolve({emailNotAllowed:true})
                    }else {
                        resolve(null)
                    }
                }, 5000)
            })
            return responce
        }
        <!-- FormStatus -->
        this.ReactiveFrom.statusChanges.subcribe(val)=>{
            this.formStatus = value
        }

        <!-- setValue() & patchValue() add in method to run by click or whatever -->
        this.ReactiveFrom.setValue({
            same properties as mention in form
        })
        this.ReactiveFrom.patchValue({
            add only Property you want to update
        })
            <!-- or do this to achieve both -->
            this.ReactiveFrom.setValue({
                name: 'HHH',
                email: this.ReactiveFrom.get('email'),
                password: this.ReactiveFrom.get('password')
              })
            <!--  -->

    }
    .css {
        input.ng-invalid.ng-touched{
            border: 1px solid red;
        }
        <!-- //Status validation -->
        .myFormValidationColor.INVALID {
            border: red 1px solid;
            box-shadow: 0 0 31px rgba(255,0,0,0.7) !important;
        }
        .myFormValidationColor.PENDING {
            border: red 1px solid;
            box-shadow: 0 0 31px rgba(255,235,0,0.7) !important;
        }
        .myFormValidationColor.VALID {
            border: red 1px solid;
            box-shadow: 0 0 31px rgba(78,233,84,0.7) !important;
        }
    }
    .html {
        <form class="myFormValidationColor" [formGroup]="ReactiveForm" [ngClass]="formStatus" (ngSubmit)="onSubmit()">
            // For Internal Group otherwise remove group make it simple
            <div formGroupName="Details">
                <input formControlName="firstname">
                <input formControlName="lastname">
                <input formControlName="email">
                <p *ngIf="!ReactiveForm.get('Details.email').valid && ReactiveForm.get('Details.email').touched">This Email is not Valid</p>
            </div>
            <input type="radio" formControlName="gender"> //male
            <input type="radio" formControlName="gender"> //female
            <input type="radio" formControlName="gender"> //other

            <div formArrayName="skills">
                <ng-container *ngFor="let skill of ReactiveForm.get('skills')['controls']; index as i">
                    <input type="text" formControlName="{{i}}">
                </ng-container>
                <button (click)="addskill()">Add More Skills</button>
            </div>
            <button type="submit"></button>
        </form>
    }

    React Dynamic Field Form {
        C.ts {

            ReactiveForm: FormGroup;

            constructor() { }
          
            ngOnInit(): void {
              this.ReactiveForm = new FormGroup({
                Details: new FormGroup({
                  title: new FormControl(null, Validators.required),
                  start_time: new FormControl(null, Validators.required),
                  end_time: new FormControl(null, Validators.required),
                  location: new FormControl(null, Validators.required),
                }),
                sessions: new FormArray([])
              })
            }
          
            onSubmit() {
              console.log(this.ReactiveForm) //Full Object. find value Property
            }
          
            addSession() {
              (<FormArray>this.ReactiveForm.get('sessions')).push(new FormGroup({
                Case : new FormControl(""),
                Participants : new FormControl(""),
                Start_time : new FormControl(""),
                End_time : new FormControl(""),
                Room : new FormControl(""),
              }))
            }
          
            delete(sessionNum: number){
              (<FormArray>this.ReactiveForm.get('sessions')).removeAt(sessionNum)
            }
        }
        <!-- //this is in Angular Material  -->
        .html {
            <form class="myFormValidationColor" [formGroup]="ReactiveForm" (ngSubmit)="onSubmit()">
                <div formGroupName="Details">
                    <mat-form-field appearance="fill">
                        <input matInput type="text" placeholder="title" formControlName="title">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" placeholder="start_time" formControlName="start_time">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" placeholder="End_time" formControlName="end_time">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" placeholder="location" formControlName="location">
                    </mat-form-field>
                </div>
                <button mat-raised-button (click)="addSession()">
                    Add Session
                </button>
                <div formArrayName="sessions">
                    <ng-container *ngFor="let session of ReactiveForm.get('sessions')['controls']; index as i">
                        <div [formGroupName]="i">
                            <mat-form-field appearance="fill">
                                <input matInput type="text" placeholder="Case" formControlName="Case">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <input matInput type="text" placeholder="Participants" formControlName="Participants">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <input matInput type="text" placeholder="Start_time" formControlName="Start_time">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <input matInput type="text" placeholder="End_time" formControlName="End_time">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <input matInput type="text" placeholder="Room" formControlName="Room">
                            </mat-form-field>
                            <button mat-raised-button (click)="delete(i)">Delete</button>
                        </div>
                    </ng-container>
                </div>
                <button mat-button type="submit">Submit</button>
            </form>
        }
    }
}

Obervable {

    C. ts {
        private observerSubcription: Subcription      //import it
        ngOnInit(){
            myObersvable = new Obersvable ((oberver)=>{
                console.log('Obersvable starts')
                let count = 0
                setInterval(()=>{
                    oberver.next(count)
                    //if error happens than complete will not gonna happens even you handle the error
                    //E//Creating A Error for handling error 
                    if(count>3){
                        oberver.error(new Error('Some Error just happens'))
                    }
                    //E//
                    //C//Creating A Complete Event Emmit the Event
                    if(count===2){
                        oberver.complete()
                    }
                    //C//
                    count++
                },1000)
            })
        }
        myObservable.subscribe((val)=>{   //the parameters (next,error,complete)
            console.log(val)
        })
        
        // to unsub the subcription first assign it to sub variable and in ngOnDestroy you can unsub it
        this.observerSubcription = myObservable.subscribe((val)=>{ like above })
        
        //Error and Complete
        this.observerSubcription = myObservable.subscribe(
            (val)=>{ console.log(val) } //Data
            (error)=>{ console.log(error)}, //Error
            ()=>{console.log("Completed")} //Complete with no Args
            )

        ngOnDestroy(){
            this.observerSubcription.unsubcribe()
        }
    }
    
    Subject {

        Service.ts {
            import {Subject} from 'rxjs'
            S.C {
                someevent = new Subject<boolean>()
            }
        }

        Button.C.ts {
            constructor(Service)
            onactive(){
                this.Service.someevent.next("true")
            }
        }
        
        Button.C.html {
            <button (click)="onactive()">Click Me</button>
        }

        show.C.ts {
            isactive = false
            private thissub: Subcription    //import it
            constructor(Service)
            ngOnInit(){
                this.Service.someevent.subcribe(res=>{
                    this.isactive=res
                })
            }
            ngOnDestroy(){
                this.sub.unsubcribe()
            }
        }
        
    }

    BehaviorSubject {
        Service.ts {
           
            private _isloggedIn$ = new BehaviorSubject<boolean>(false)
            isloggedIn$ = this._isloggedIn$.asObservable()
              
              
            constructor(private webRequestService: WebRequeestService) {
                  const token = localStorage.getItem('bearer')
                  this._isloggedIn$.next(!!token)
            }

            login(obj: any) {
                return this.webRequestService.login('auth/login', obj).pipe(
                  tap((res: any) => {
                    localStorage.setItem('bearer', res.token)
                    console.log(localStorage.getItem('bearer'))
                    this._isloggedIn$.next(true)
                  })
                )
            }
        }
    }

}

Route Guard {
    
    CLI {
    ng generate guard auth/auth ^ (CanActivate)option
    }
    
    Rounting routes {
        { path: '', component: MainComponent, canActive: [AuthGuard]}
    }

    auth.guard.ts {
        constructor(private authservice: AuthService){}

        canActive (){
            return this.authservice.isAuthenticated
        }
    }

}


HTTP {
    app.module.ts {
        imports : [
        HttpClientModule
        ]
    }
    Service.ts {
        constructor(private http: HttpClient){}
        const headers = new HttpHeaders({'anyAuth':'token'})

        onSubmit(data : any){
            this.http.post('URL',data,{headers:headers})
            .subcribe((res)=>{          //.subcribe otherwise will no execute
                console.log(res)
            })
        }
    }
    <!-- /// ALl in All//////////// -->
    check(){
        const token = ""+localStorage.getItem('bearer')
        console.log(token)
        const headers = new HttpHeaders().set('Content-Type','application/json; charset=utf-8').set('Authorization', 'Bearer ' + token)
        this.http.get('http://localhost:3000/api/v1/jobs',{'headers':headers})
        .subscribe((res)=>{
          console.log(res)
        },(err)=>{
          console.log(err)
        }) 
      }
}